:root{
    /*cores do tema light*/
    --light-bg: #f5f5f5;
    --light-text: #333;
    --light-card: #fff;
    --light-shadow: rgba(0, 0, 0, 0.1);

    /*cores do tema darck*/
    --darck-bg: #1a1a1a;
    --darck-text: #f5f5f5;
    --darck-card: #2d2d2d;
    --darck-shadow: rgba(0, 0, 0, 0.3);

}
body {
    font-family: arial, helvetica, sans-serif ;
    transition:  all 0.3s ease;
}
.light-theme {
    background-color: var(--light-bg);
    color: var(--light-text);
}
.dark-theme {
    background-color: var(--darck-bg);
    color: var(--darck-text);
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}
button{
    padding: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}
.card {
    padding: 1,5rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px var(--darck-shadow);
    margin-top: 2rem;
    transition: all 0.3s ease;
}
.light-theme .card {
    background-color: var(--light-card);
}
.dark-theme .card {
    background-color: var(--darck-card);
    box-shadow: 0 2px 10px var(--darck-shadow);
}

